{% extends 'base.html' %}

{% block title %}个人资料{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% if user.is_authenticated %}
                    <div div class="panel panel-default">
                    <div class="panel-body"><h3><span class="glyphicon glyphicon-user">&nbsp;{{ user.username }}&nbsp;</h3></div>
                    <div class="panel-footer"><br>
                    <ul>
                        <li>昵称：{{ user.get_nickname }} <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">&nbsp;（修改昵称）</a></li><br>
                        <li>邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定 <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">&nbsp;（绑定邮箱）</a>{% endif %}</li><br>
                        <li>上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li><br>
                        <li><a href="{% url 'change_password' %}">（修改密码）</a></li>
                    </ul>
                    </div>
                {% else %}
                    <span>未登录，跳转到首页...</span>
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}
            </div>
        </div>
    </div>    
{% endblock %}